.header a {
    padding-left: 50px;
    font-weight: bold;
    color: brown;
    font-size: 28px;
    color: #62584d;
    margin: 10px;
    text-decoration: none;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
body {
    background-image: url("../images/bg.jpg");
}
.header {
    border-radius: 20px;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr;
    background-image: url(../images/menu_bg.gif);
    background-repeat: no-repeat;
    background-size: 95% auto;
    margin: auto;
    margin-left: 30px;
}
