.header a {
    padding-left: 40px;
    font-weight: bold;
    font-size: 20px;
    color: #62584d;
    text-decoration: none;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
body {
    background-image: url("../images/bg.jpg");
}
.header {
    height: 50px;
    background-image: url(../images/menu_bg.gif);
    background-repeat: no-repeat;
    margin: auto;
    margin-left: 10px;
    padding-top: 10px;
}